<h2 style="color: rgb(216, 57, 29);">{{subtitle1}}</h2>
<jqxGrid #grid [width]="1000" [enableanimations]="true" [rowsheight] = 50 [altrows]="true" [source]="dataAdapter" [columns]="columns"
         [columnsresize]="true" [sortable]="true" [autoshowloadelement]="true" >
</jqxGrid>
<h2 style="color: rgb(216, 57, 29);">{{subtitle2}}</h2>
<jqxGrid #grid2 [width]="1000" [enableanimations]="true" [rowsheight]= 50 [altrows]="true" [source]="dataAdapter2" [columns]="columns"
         [columnsresize]="true" [sortable]="true" [autoshowloadelement]="true" >
</jqxGrid>


<div style="display: block;">
    <canvas baseChart #barChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType">
    </canvas>
  </div>
